body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color:bisque;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    text-align: center;
    padding: 12px;
    align-items: center;
}

.navbar a {
    padding-left: 5%;
    padding-right: 5%;
    font-size: x-large;
}


/* To add: About me, Project entry */
