body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color:bisque;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    text-align: left;
    padding: 12px;
    align-items: center;
    background-color: aliceblue;
}

.navbar a {
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: large;
}

.navbar h1 {
    text-align: left;
    font-size: xx-large;
    display:inline
}


/* To add: About me, Project entry, Contact form */

.aboutme {
    justify-content: center;
}